.headerButtonLight {
	color: white;
}

.headerButtonLight:hover {
	color: lightgray;
	cursor: pointer;
	border-bottom: 1px solid gray;
}

.headerButtonDark {
	color: gray;
}

.headerButtonDark:hover {
	color: white;
	cursor: pointer;
	border-bottom: 1px solid white;
}
