.headerButtonLight {
	color: white;
}

.headerButtonLight:hover {
	color: lightgray;
	cursor: pointer;
}

.headerButtonDark {
	color: gray;
}

.headerButtonDark:hover {
	color: white;
	cursor: pointer;
}
