.container {
	min-width: 100vh;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	position: relative;
}

.overlay {
	z-index: 1;
	height: 100vh;
	width: 100%;
	overflow: auto;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.8); /*can be anything, of course*/
}
