.card {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	z-index: 0;
	position: relative;
	border-bottom: 1px solid gray;
}

.card:hover {
	position: relative;
	padding: 1px;
	z-index: 1;
	background-color: white;
	box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2), 0 4px 15px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
