.contentButton {
	padding: 10px;
	font-size: 20px;
	border: 1px solid white;
	color: white;

	margin: 10px;
	width: 30%;

	border-radius: 5px;
}

.contentButton:hover {
	color: gray;
	border-color: gray;
	cursor: pointer;
}

.contentButtonDark {
	border: 1px solid gray;
	color: gray;
}

.contentButtonDark:hover {
	color: white;
	border-color: white;
	cursor: pointer;
}

.auxiliaryContact {
	color: white;
}

.auxiliarySocial {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
	color: white;
}

.resumeLink {
	color: inherit;
	display: block;
	text-decoration: none;
}
