.contentButtonLight {
	padding: 10px;
	font-size: 20px;
	border: 1px solid white;
	color: white;

	margin: 10px;
	width: 30%;

	border-radius: 5px;
}

.contentButtonLight:hover {
	color: gray;
	border-color: gray;
	cursor: pointer;
}

.contentButtonDark {
	padding: 10px;
	font-size: 20px;
	border: 1px solid gray;
	color: gray;

	margin: 10px;
	width: 30%;
	border-radius: 5px;
}

.contentButtonDark:hover {
	color: white;
	border-color: white;
	cursor: pointer;
}
