/** Container */
.anchor {
	text-decoration: none;
	color: black;
}

.cardContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	font-size: 15px;
}
/** Left */
.imageContainer {
	flex: 1;
	align-self: center;
	text-align: center;
}

.image {
	border-radius: 50%;
	overflow: hidden;
}

/** Right */
.cardInfo {
	font-size: inherit;
	padding: 10px 0;
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
/** Header */
.header {
	font-size: inherit;
	flex: 2;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.title {
	font-size: 20px;
	font-weight: bold;
	flex: 6;
}

.description {
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	color: gray;
}

.date {
	font-size: inherit;
	flex: 1;
	color: gray;
}

/** Details */
.details {
	font-size: inherit;
	flex: 6;
	border-bottom: 1px solid gray;
}

.detail {
	margin: 0 0 5px 0 !important;
}

/** Extra */
.extra {
	font-size: inherit;
	flex: 2;
	color: gray;
}
